<section class='bracket-section' user-choice>

	<section class='quarter-finals column'>
		<h3>Quarter-Finals</h3>
		<div class='match'>
			<div class='team'>1G</div>
			<div class='team'>3E / 3F</div>
		</div>
	
		<div class='match'>
			<div class='team'>2E</div>
			<div class='team'>2F</div>
	
		</div>
	
		<div class='match'>
			<div class='team'>1F</div>
			<div class='team'>2G</div>
		</div>
	
		<div class='match'>
			<div class='team'>1E</div>
			<div class='team'>3F / 3G</div>
		</div>
	
	</section>
	
	
	<section class='semi-finals column'>
		<h3>Semi-Finals</h3>
		<div class='match'>
			<div class='team'>1E / 3F / 3G</div>
			<div class='team'>1G / 3E / 3F</div>
		</div>
	
		<div class='match'>
			<div class='team'>1F / 2G</div>
			<div class='team'>2E / 2F</div>
		</div>
	
	</section>
	
	
	<section class='finals column'>
		<h3>Finals</h3>
		<div class='match'>
			<h5>Gold medal round</h5>
			<div class='team'>TBD</div>
			<div class='team'>TBD</div>
		</div>

		<div class='match'>
			<h5>Bronze medal round</h5>
			<div class='team'>TBD</div>
			<div class='team'>TBD</div>
		</div>
	
	</section>
	
	<section class='medalists column'>
		<h3>Medalists</h3>
		<div class='match'>
			<div class='team' id='gold'>TBD</div>
			<div class='team' id='silver'>TBD</div>
			<div class='team' id='bronze'>TBD</div>
		</div>
	
	</section>

</section>