.team {
	cursor: pointer;
}

.column-section {
	display: flex;
	justify-content: space-around;
	

}

.column {
	background-color: white;
	width: 25%;
	/*-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;*/


}

.match {
	background-color: lightgrey;
	padding: .5rem;
	text-align: center;
	margin: 10px;

}

.match > div {
	padding: 5px;

}

/*@media ()

 turn columns into one long column
*/